<ion-header>
  <ion-toolbar color="mango">
    <ion-title>Acceso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
  <app-logo></app-logo>
  <h1>Ingreso</h1>
  </div>
<form>
<ion-list>
  <ion-item>
  <ion-label position="stacked">Usuario </ion-label>
  <ion-input type="text"></ion-input>
</ion-item>
</ion-list>

<ion-item>
  <ion-label position="stacked">Clave </ion-label>
  <ion-input type="password"></ion-input>
</ion-item>

<ion-item>
  <a routerLink='/signup'> Crear una cuenta</a>
</ion-item>
<ion-button expand="block" shape="round" color="mango" (click)="login()">Ingresar</ion-button>
 
</form>
</ion-content>